.hr_line {
  width: 119.42px;
  opacity: 1;
  border: 3px solid #86be3f;
  border-radius: 10px;
  margin: 0 auto 30px auto;
}
.home_emp {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 400px;
}
@media (max-width: 576px) {
  .home_emp {
    display: block;
    margin-top: 100px;
    height: auto;
  }
}
